#anim_holder{ /* The frame which encompasses all the elements in the middle vertical band of the page */
    
    outline: 1px solid black;
	height: 977px;
 /*   margin-left: 20%;
    margin-right: 20%; */
    margin: 0 auto;
	margin-top: 20px;
    padding-bottom: 2px;
    max-width: 926px;
    justify-content: center;
    background-image: url("./icons/VoronoiExperiments12.png");
	/*background-repeat: no-repeat, repeat;
    background-repeat: repeat; */
	background-repeat: no-repeat;
	background-size: cover;
	padding-top:10px;
	
}

#logek{
		display: inline-block;
		margin-left:  29%;
		margin-top: -5px;
		margin-bottom:10px;
		border: 1px solid black;
		padding-top: 5px;
		padding-right: 10px;
		background: linear-gradient(to right, #808080, #161A40, #808080);
		opacity:1;
}



.ornament{
	display: inline-block;
    vertical-align: middle;
	padding-left: 15px;
	
}

#topek_row  {
display: table;
position: relative;
margin-top: 5px;
margin-left:20px;
margin-right:20px;

padding-top: 16px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 14px;
border: solid black 1px;

background-image: url('./icons/YellowBar4I.png');
 /* background-image: url('./TorusGames/icons/VoronoiExperiments12.png'); */
  background-repeat: no-repeat;
 background-size: cover; 
}

#botomek_row  {
display: table;
position: relative;
margin-top: 0px;
margin-left:20px;
margin-right:20px;

padding-top: 16px;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 14px;
border: solid black 1px;
margin-top: 5px;

background-image: url('./icons/YellowBar4I.png');
 /* background-image: url('./TorusGames/icons/VoronoiExperiments12.png'); */
 background-repeat: no-repeat;
 background-size: cover;
 /*    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg); 
    transform: rotate(180deg); */
}
.double-border{
	position: relative;
	border: 1px solid #a0a0a0;
	padding-bottom: 20px;
	
}

/* The below bullsheet from Css trick does not work */
.double-border:before {
  content: " ";
  position: absolute;
  z-index: -1;
  background: none;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 0px;
  border: 1px solid #a0a0a0;
}

#windows_expl_img_holder {
	display: table-row;
	padding-bottom: 5px;
	}

#windows_expl{
display: table-cell;
font-size: 12pt;	
text-align: justify;
text-justify: inter-word;
vertical-align: top;
padding-left: 20px;
padding-right: 20px;
padding-bottom: 0px;
/* border:1px solid lightgrey; */
}

#horiz_space {
display: table-cell;
color: white;
width: 20px;

	
}

#windows_img {
	display: table-cell;
}

#win_img {
width: 510px;
height: auto;
}

#mac_img{
width: 510px;
height: auto;
border: 1px solid grey;	
	
}

br {
	display: block;
	font-size: 60%;
	
	
}

.JaceksBanner {
    display: flex;
  /*  border: 1px solid ;*/
    width: 926px;
    height: 250px;
    margin: 0 auto;
	border-bottom: 1px solid
}


.Animation{ /* This part is robably not used */

    display: inline;
    float: left;
 /*   margin: 0 auto; */
    width: 80px;
    height: 30px;
    margin: 5px;
/*    margin-top: 20px;
    justify-content: center;
    margin-bottom: 40px;*/

}


#play_buttons{

    background-color: white;
    display: inline-block;
   /* margin-right: 20%; */
    width: 300px;
    /* margin-left: 313px; */
/*	margin: 0 auto; */
    padding: 5px;
	padding-left: 37px;
    
  /*  justify-content: center; */
/*	text-align: center; */
    margin-bottom: 15px;
    outline: 1px solid black;

}

.TorusFrame {  /* The div housing the initial image/animation */
    display: inline;
    float: left;
    margin: 0 auto;
    margin-top: -53px;
    justify-content: center;
    margin-bottom: 18px;

    width:802px;  
    height:405px;
 /*   margin: 0 auto; */
    outline: 1px solid grey;
    margin-left: 59px;
    padding: 2px;

}

#TorusImage {  /* The initial image of the animation -- motionless */
    position: relative;
    width: 800px;  
    height: 405px;
	border-right: 1px solid
}


#banner_holder {
	margin: 0 auto;
	    width: 926px;
    height: 250px;
}

.dropcapek{
	font-size: 200%;
	float: left;
	padding-bottom:-3px;
	padding-right:5px
}
#torus {
	
	font-size: 150%;	
}


#uturn2 {
	display: inline-block;
	width: 60px;
	height: 60px;
	padding-right: 0px;
	padding-bottom: 45px;
	padding-left: 10px;
	float: left;
	opacity: 1;
	
}

#play_now2 {
	display: flex;
	width: 70px;
	height: 70px;
	margin-bottom: 25px;
	padding-right: 3px;
	float: right;
	opacity: 1;
	
}

#controlek{
	margin: 0 auto; 
	height: 70px;
	text-align: center;
	
	
}

.wrapper .tooltiptext {
    visibility: hidden;
    width: 85px;
	margin-left: 215px; /* half of the width to center -- so they say */
	margin-top: -13px;
	color: black;
   
    text-align: center;
    outline: solid gray 1px;
 /*   border-radius: 6px; */
    padding: 1px ;
	font-size: 12pt;
	font-weight: normal;
	
	/* background-image: url("./icons/VoronoiExperiments17.png"); */
	background-color: Cornsilk;


    /* Position the tooltip */
    position: absolute;
    z-index: 1;

   /* top: 90%;
    left: 50%; */
	opacity:1;	
	
}

.wrapper:hover .tooltiptext{
    visibility: visible;	
}

.wrapper2 .tooltiptext2 {
    visibility: hidden;
    width: 65px;
	margin-left: -282px; /* half of the width to center -- so they say */
	margin-top: 360px;
	color: black;
   
    text-align: center;
    outline: solid gray 1px;
 /*   border-radius: 6px; */
    padding: 0px ;
	font-size: 12pt;
	font-weight: normal;
	
	/* background-image: url("./icons/VoronoiExperiments17.png"); */
	background-color: Cornsilk;


    /* Position the tooltip */
    position: absolute;
    z-index: 1;

   /* top: 90%;
    left: 50%; */
	opacity:1;	
	
}

.wrapper2:hover .tooltiptext2{
    visibility: visible;	
}



.saving:hover .tooltiptext{
    visibility: visible;	
}

.saving .tooltiptext {
    visibility: hidden;
    width: 500px;
	margin-left: 0px; /* half of the width to center -- so they say */
	/* color: #22A462; */
	color: black;
   
    text-align: justify;
    outline: solid gray 1px;
  /*  border-radius: 6px; */
    padding: 30px ;
	font-size: 14;
	font-weight: normal;
	
	   /* background-image: url("./icons/VoronoiExperiments12.png"); */
/*	background-image: url("./icons/VoronoiExperiments17.png"); */
	/* background-color: #ECECEC; */
    background-image: url('./icons/YellowBar4I.png');
	background-size: cover;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;

    top:-35%;
    left: 75%; 
	opacity:1;

}


