body {

    background-color: ivory;
    font-family: "Times New Roman", Georgia, Serif;!important;
  /*  transform: scale(0.8); */
  /*  transform-origin: 0 0; */

}


div {

  /*  outline: solid 1px lightgray; */
    padding: 5px; 

}

#outer{

    position: absolute;
    display: flex;
    align-items: center;
    top: 87px;
    left: 4.7%;
    width: 90%;
    height: 90%;
    min-width:1600px;
    height:800px;
 
}

#magnify {
    padding-left: 15px;
    font-size: 20px;
    color: navyblue
}
#logo {
	display: flex;
	position: absolute;
	width: 100%;
	margin-top: 0px;
        padding: 15px;
	text-align: center;
	min-width: 1750px;
}

#logek{
	
	display: block;
	position:  relative:
	margin-top:  -19px;
	margin: 0 auto;
	width: 70px;
	outline: solid rgb(200, 200,200) 1px;
}

.ib { 

    display: inline-block;

}

#setup {
    position: absolute;
    text-align: center;
    top: 2%;
    right:77%;
    height: 30%;
    width:15%;
    background-color: Cornsilk;   
    outline: solid 1px gray;
    min-width:230px;
    min-height:245px;
	      
}

#difficulty_label {
    display: inline-block;
    padding: 1px;
}

#combo_box {
    display: inline-block;
    padding: 1px;
    padding-bottom:5px;

}

#scramble {

    margin-top: 10px;
    margin-left: 31%;

}

#gameouter {  /* This is the div holding the canvas */
    position:absolute;
    display: flex;
    justify-content: center;
    top: 2%;
    left: 25%;
    width: 50%;
    height: 95.5%;
    align-items: center;
    outline: solid 1px gray;
    background-image: url("./icons/VoronoiExperiments17.png");
   
    /*border-width: 3px;
    border-style: double;
    border-color: lightgrey; */

    /* border: 30px solid transparent;
    border-image: url("./border_test.png") 30 round; */
	background-color: rgb(252,252,250);
}

#gamek {
   
    display: block;

}

#diffimage{
    
    display: block;

}

#theboard { /* This is the id of the canvas */
    position: relative
    display: block;
  /*  margin-top: 5%; 
    margin-left: 16.5;  */
   /* margin-bottom: 5%; */
   /* margin-right:2.5%; */
				 
    
 /*   transform: translate(0%, 200%); */
}


#control_panel { /* a div which contains play controls */
    position: absolute;
   /* display: flex;*/
    align-items: center;
    justify-content: center;
  /*   text-align: center; */
    top: 2%;
    left: 77%;
    height: 118px;  /* 14%; */
    width: 100px;
    background-color: Cornsilk; 
    outline: solid 1px grey;
}

#play_controls {
    display: inline-block;
    /*  margin-left: 12%; */
 /*   margin-top: 2px;
    margin-right: 12%; */
    margin: 0 auto;
    width: 100px;
    
    
  /*  transform: translate(-260%, 0%); */
}

.controls {
    width: 82px;
    display: block;
    padding: 4px;
   /* margin-left: 0 auto;*/
    margin-bottom: 3px;
    height: 30px;
}

.startcontrols {
    width: 82px;
    display: block;
    padding: 4px;
    margin-left: 0 auto;
    margin-bottom: 3px;


}

#reset{
    padding: 2px;
}

#links {
    position: absolute;
    display: flex;
    align-items: center;
    right: 77%;
    bottom: 2.5%;
    width: 15%;
  
    background-color: Cornsilk;
    padding-top: 10px;
   
    padding-left: 0px; */
    padding-right: 0px;  
    
    padding-bottom: 10px;
    outline: solid 1px grey;
    min-width:230px;
}

a.link_type_1{
    #display: block;
    font-size: 16pt;

}
a.link_type_1:hover {
    color: hotpink;
}

a.link_type_1.simple {
font-size: 14pt;
color: blue;	

	
}

a.thead{
    #display: block;
   /* font-size: 16pt; */

}
a.thead:hover {
    color: hotpink;
}

h3 {
    padding: -2px;
}

hr {
    width: 150;
    size: 4;
    border-color: black;
    margin-bottom: 6%;
    margin-top: 8%;

}

.tabup {
    font-size: 20px;
    padding-left: 8.5%;
    min-width: 230px;
}

.tabdown {
    padding-left: 25%;
    padding-bottom: 0%;
}

.thead{

    font-size: 14pt;
    font-weight: bold;
    color:maroon;
    /*  padding-left:12%; */
    text-align: center;
    padding-bottom: 5px;>
			width: 230px;
    text-decoration: underline;

}


#goal_table {

    position: absolute;
  /*  display: flex;*/
    left: 73.25%;
    bottom: 2.5%;
    padding: 0px;
    text-align: center:
    border-collapse: collapse;
    border-spacing: 0;
    margin-left:-2px
}

#goal {
    padding: 0px;
    width: 58.5%;
    max-width:360px;
    
}


#ornL{

    position: absolute;
    top: 41%;
    right:80.5%;
    height: 150px;
    width:160px;
   transform: translate(0px, -5px); 
    text-align: center;
  /*  outline: solid 1px black; */
    max-width:230px;

}

#ornR{
	/* The right ornatment is inside the #expl div which
       imposes on #ornR all the display paramters */
/*
    position: absolute;
    top: 40.5%;
    left: 79.4%;
    height: 145px;
    width:145px
    text-align: center; */
 /*   outline: solid 1px black; */
 /*   max-width:230px; */

}


#how {

    position: absolute;
    display: flex;
    top: 28%;
    left:78.5%;


}


#expl {
    position: absolute;
  /*  top: 40.5%; */
    top: 38.9%;
    left: 78.5%;
    height: 145px;
    width:145px
    text-align: center;
 /*   outline: solid 1px black; */
    max-width:230px;
}

.game_board{
    padding-top: 35px;

}

.difficulty_icon{
    text-align: center;
    padding-top: 14px;
    padding-bottom: 0px;
  
}



.thead .tooltiptext {
    visibility: hidden;
    width: 230px;
	margin-left: -100px; /* half of the width to center -- so they say */
	color: black;
   
    text-align: justify;
    outline: solid gray 1px;
  /*  border-radius: 6px; */
    padding: 10px ;
	font-size: 14;
	font-weight: normal;
	
	/* background-image: url("./icons/VoronoiExperiments17.png"); */
	background-color: Cornsilk;


    /* Position the tooltip */
    position: absolute;
    z-index: 1;

    top: 90%;
    left: 50%; 
	opacity:1;

}
.wrapper .tooltiptext {
    visibility: hidden;
    width: 340px;
	margin-left: -90px; /* half of the width to center -- so they say */
	margin-top: -70px;
	color: black;
   
    text-align: justify;
    outline: solid gray 1px;
 /*   border-radius: 6px; */
    padding: 10px ;
	font-size: 14pt;
	font-weight: normal;
	
	/* background-image: url("./icons/VoronoiExperiments17.png"); */
	background-color: Cornsilk;


    /* Position the tooltip */
    position: absolute;
    z-index: 1;

   /* top: 90%;
    left: 50%; */
	opacity:1;	
	
}

.wrapper:hover .tooltiptext{
    visibility: visible;	
}

.thead:hover .tooltiptext {
    visibility: visible;
}

#copyright {
	position: absolute;
    text-align: center;
    color: rgb(0, 51, 102);
    width: 100%;
	margin: 0 auto;
    margin-top: 400px;
   	
}